@model IEnumerable<QualityHats.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Products List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                  Image
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var imgUrl = @Href("~" + item.ImagePath);
        var errImg = @Href("~/images/default_hat.jpg");
        <tr>
            <td>
                <img style="width: 150px; height: auto;" class ="img-rounded" src="@imgUrl" alt="Product Image" onerror="this.onerror = null; this.src = '@errImg'">
            </td>
            <td width="200px">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td class="wrapper" width="150px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>

            @*<td>
                <a  asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ProductID">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Add To Cart
                </a>
            </td>*@

        </tr>
}
    </tbody>
</table>

<div>
    @*@await Component.InvokeAsync("ShoppingCartViewModel")*@
</div>